<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Some songs</title>
  <link rel="stylesheet" href="/stylesheets/songs/index.css">
</head>
<body>
  <h1>Some songs</h1>
  <h2>as of <%= time %></h2>

  <ul>
    <% songs.forEach(song => { %>
      <li>
        <form 
          action="/songs/<%= song._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
        </form> 
        <a href="/songs/<%= song._id %>"><%= song.text %></a> 
				- 
				<%= song.isGood ? 'Great Song' : 'Meh' %>
			</li>
    <% }) %>
  </ul>

  <a href="/songs/new">Add a song</a> <br>

  <a href="/">back</a>

</body>
</html>